<!DOCTYPE html>
<html>

<head>
  <style>
  body { background-color : powderblue;}
  h1 {text-decoration-color: }
  button {  background-color: linen;}
  a {text-decoration : none}
  table { background-color: aquamarine;} td:hover {background-color: #f5f5f5; color: #B22222}
  t {
    color: #B22222
    }

</style>

  </style>
	<meta charset="utf-8">

</head>


<body>
  <br>
  <h1>Calorie Calendar for Year {{year}}   <button><a href="/index">Return home<a></button>
</h1>
  {{calendar}}

  <hr/>
  <b><t>Total Calories: {{total}}<hr/>
  <avg>Avg Daily Calories: {{avg}}<hr/></avg></b></t>



</body>

</html>
